<div class="container-fluid flex" >
    <div class="grid-container">
        <!-- Card 1 -->
        <div class="card card-1">
            <canvas id="Raza"></canvas>
        </div>
        <!-- Card 2 -->
        <div class="card card-2">
            <canvas id="activosChart"></canvas>
        </div>
        <!-- Card 3 (1x2) -->
        <div class="card card-3">
            <canvas id="evolucionPesoChart"></canvas>
        </div>
        <!-- Card 4 (1x2) -->
        <div class="card card-4">
            <canvas id="eventosChart"></canvas>
        </div>
        <!-- Card 5 -->
        <div class="card card-5">
            <canvas id="medicionesChart"></canvas>
        </div>
        <!-- Card 6 (2x1) -->
        <div class="card card-6">
            <canvas id="animalesMesChart"></canvas>
        </div>
        <!-- Card 8 (2x1) -->
        <div class="card card-8"> <!-- Cambiado a card-8 -->
            <canvas id="promedioPesoRazaChart"></canvas>
        </div>
        <!-- Card 7 -->
        <div class="card card-7"> <!-- Cambiado a card-7 -->
            <canvas id="pesoFechaChart"></canvas>
        </div>
    </div>
</div>
